.logout-btn {
    text-transform: uppercase;
    cursor: pointer;
    background-color: #12794EFF;
    color: #FFF;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
}